@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$background: #f5f9fc;
$border-color: #e7eaf0;

$title-black: #1f2d3d;
$primary-text-color: #425466;
$secondary-text-color: #8e98a3;

$primary-blue: #4c6fff;
$secondary-blue: #e1e8ff;

$red: #f16063;
